html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; } /* HTML5 display-role reset for older browsers */ article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; } body { line-height: 1; } ol, ul { list-style: none; } blockquote, q { quotes: none; } blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; } table { border-collapse: collapse; border-spacing: 0; }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}
body {
  font-family: Helvetica, Arial, 'Sans-serif';
  background: grey;
  font-size: 12px;
  color: white;
}
a {
  text-decoration: none;
  color: white;
}

header {
  background: black;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 4;
}
.logo, nav{
  float: left;
}
.logo a {
  color: grey;
  padding: 20px 65px 20px 55px;
  -webkit-transition: all 0.33s;
  -o-transition: all 0.33s;
  transition: all 0.33s;
}
nav li a {
  padding: 20px 80px;
}
header li{
  display: inline-block;
}
header a {
  line-height: 60px;
  -webkit-transition: all 0.33s;
  -o-transition: all 0.33s;
  transition: all 0.33s;
}
.links {
  float: right;
  margin-right: 30px;
}
.links a {
  color: grey;
  padding: 20px 10px;
}
.logo:hover a, .links li:hover a {
  color: white;
}
nav li:hover a{
  color: grey;
}
.wrapper {
  margin-top: 60px;
}
.slider {
  overflow: hidden;
  position: relative;
}
.slider .cursor {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  z-index: 4;
  font-size: 2em;
  position: absolute;
}
.pagination {
  position: absolute;
  top: 25px;
  right: 10px;
  z-index: 2;
}
.pagination li {
  display: inline-block;
  width: 30px;
  height: 30px;
}
.pagination a {
  font-weight: bold;
  line-height: 40px;
  position: relative;
}
.pagination a:before {
  content: '';
  width: 17px;
  height: 17px;
  border: 1px solid grey;
  position: absolute;
  top: -3px;
  left: -6px;
  transform: rotate(45deg);
}
.pagination .active a{
  color: grey;
}
.pagination a:hover:before {
  border-color: white;
}
.pagination a:hover {
  color: white;
}
.slides {
  white-space: nowrap;
  width: 100vw;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
.slides .slide {
  cursor: none;
  display: inline-block;
}
.slides .display {
  position: relative;
  height: 100vh;
  width: 100vw;
      -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.slides .caption {
  background: darkred;
  height: 180px;
  font-weight: bold;
  font-size: 3.0em;
  text-transform: uppercase;
  padding: 70px;
  position: relative;
}
.caption a {
    position: absolute;
    text-align: center;
    display: block;
    top: 0;
    right: 0;
    height: 180px;
    width: 180px;
    line-height: 180px;
    background: rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.33s;
  -o-transition: all 0.33s;
  transition: all 0.33s;
}
.caption:hover a {
    width: 350px;
    font-size: 1.67em;
}

.slide {
}
.slide.active {
}
.slide-1 .display {
  background: url('https://placeholdit.imgix.net/~text?txtsize=160&bg=555555&txtclr=ffffff&txt=topla%21&w=1360&h=768&txttrack=0') no-repeat center center;
}
.slide-2 .display {
  background: url('https://placeholdit.imgix.net/~text?txtsize=160&bg=333333&txtclr=ffffff&txt=WorkflowGen&w=1360&h=768&txttrack=0') no-repeat center center;
}
.slide-3 .display {
  background: url('https://placeholdit.imgix.net/~text?txtsize=160&bg=111111&txtclr=ffffff&txt=TherrienCouture&w=1360&h=768&txttrack=0') no-repeat center center;
}
.overlay {
    position: absolute;
    z-index: 5;
    background: black;
    width: 100%;
    height: 100%;
    opacity: 1;
    -webkit-transition: all 0.5s 0.5s;
    -o-transition: all 0.5s 0.5s;
    transition: all 0.5s 0.5s;
}
.slide img {
    position: absolute;
    -webkit-transition: all 0.67s;
    -o-transition: all 0.67s;
    transition: all 0.67s;
}
.active .overlay {
  opacity: 0;
}
.slide .topla-logo {
    top: -100%;
    left: 140px;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
.slide .topla-mobile {
    bottom: -100%;
    left: 440px;
    -webkit-transition-delay: 1.45s;
    -o-transition-delay: 1.45s;
    transition-delay: 1.45s;
}

.active .topla-logo {
    top: 170px;
}
.active .topla-mobile {
    bottom: 0px;
}

img.topla-logo {
}
